body{
    margin: 0;
    padding: 0;
    
}
div , a , img , i{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
div header{
    display: block;
}
#wrap{ 
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #7e8082;
}

.header{
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 20;
}
.affix .header{
    position: fixed;
    height: 65px;
    background-color: #fff;
}
.header-wrap{
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 20; 
}
.affix .header-wrap {
    top: 0;
    left: 0;
    z-index: 100;
}

.container-m{
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    position: relative;
}
.clear-fix{
    zoom:1;
}
.clear-fix::after{
    clear:both;
}
.clear-fix::before{
    content:'\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
/* --------logo----------- */
.logo-row{
    position: relative;
    width: 133px;
    z-index: 1;
}
.logo-2 {
    display: block;
    padding: 22px 0 25px 0;
}
img{
    max-width: 100%;
    height: 26px;
    margin-top: -5px;
}
header.affix .logo-2 {
    padding-bottom: 9px;
}
.logo-img {
    height: 25px;
}
/* -------menu------------- */
.main-menu-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%
}
.header .container-m{
    position: relative;
}
.top-action{
    display: none;
}
.top-action ul{
    padding-left: 0;
}
.top-action ul li {
    display: inline-block;
    margin: 0 15px 0 0;
    line-height: 50px;
    font-size: 20px;
    list-style:none;
	width: 150px;
	padding-left: 5px;
}
a{
    color: #4b4e53;
    outline: 0!important;
    text-decoration: none;
    cursor: pointer;
}
.icon-phone{
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.icon-phone:hover{
    content:"\e90b";
}
.top-bar{
    letter-spacing: 0;
    font-size: 12px;
}
.top-bar-section{
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-bar-section li {
    float: left;
    border-left: #e2e6e7;
    display: block;
    padding: 0 13px;
}
.top-bar-section li:last-child {
    border-right: #e2e6e7;
    padding-right: 0;
}
.affix-top:not(.no-transparent) .top-bar-section > li > a {
    color: #fff;
    font-weight: 600;
}
.affix .top-bar-section > li > a {
    color: #4b4e53;
}
.top-bar-section>li>a {
    color: #fff;
}
.top-bar-section li a {
    text-align: center;
    font-weight: 600;
    outline: 0 !important;
}
.nav{
    width:1300px;
	height: 70px;
	list-style-type: none;
	margin: 0;
	padding-left: 135px;  
    position:relative;
}
.main-menu{
    position: absolute;
    text-align: center;
}

.nav ul li {
	list-style: none;
    width: 150px;
    padding-left: 5px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    display: inline-block ;
}
.nav ul li a{
    text-decoration: none;
    color: palevioletred;
    text-align: left;
    overflow: hidden;
    display: block; 
}
ul li a{
    position: relative;
}
.nav ul li a:hover .sub-menu{/* yeu cau xuat hien the duoi*/
    /* display: block; */
    background-color: white;
	cursor: pointer;
    position: absolute;
	width:350px;
	border-top: 5px solid orange;
	border-left: 2px solid orange;
	border-bottom: 2px solid orange;
	border-right: 2px solid orange;
	border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}



/* section banner */
.section-banner{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wrap-section-banner-full{
    z-index: 4;
    background: url(../insee/img/Banner_1920x1080.jpg);
    background-repeat: no-repeat;
    
}
.wrap-section-banner-container{
    display: block;
    padding:0;
}
