div .container-wrapregister{
    box-sizing: border-box;
    width: 1160px;
    display: block;
    text-align: center;
    margin: auto;
}
div.wrap-01register{
    box-sizing: border-box;
    width: 1160px;
    display: block;
    text-align: center;
    margin: auto;
}