
.product-wrap_item {
    display: block;
    position: relative;
    margin-bottom: 20px;
}
.product-item-info {
    max-width: 10vw;
    margin: 0 auto;
    display: grid;
}
.product-item-photo {
    display: block;
    margin-bottom: 15px;
    position: relative;
}

.product-item-photo .product-image-container {
    width: 100% !important;
    display: block;
    border-radius: 20px;
}
.product-image-wrapper {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.product-items .product-image-photo {
    border-radius: 20px;
}
.product-item-photo .product-image-photo {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.product-image-photo {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.product-item-details .product-item-name {
    font-weight: 400;
    line-height: 21px;
    color: #000;
    margin: 0 0 10px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    min-height: 38px;
}
.product-item-name>a:link, a:visited {
    text-decoration: none;
}
.product-item-name > a:hover, a:active {
    color: #000;
    text-decoration: underline;
}
.icon_bag.product_into_right {
    background-color: white;
}
.icon_bag.product_into_right .label_images {
    position: absolute;
    z-index: 2;
    top: 2px;
    right: 0;
}
.bag.bag-product-infor {
    color: black;
    background-color: #eb5999;
    font-weight: 400;
}
.bag.bag-product-infor:hover, .bag.bag-product-infor:active {
    color: white;
    background-color: #95bb3d;
}
.product-item-price-box {
    display: flex;
}
.product-item-details .price-box .price {
    font-size: 16px;
    line-height: 19px;
}
.action.towishlist,
.products.list.items .action.towishlist {
    display: inline-block;
    text-decoration: none;
}
.product-item-price-box .action.towishlist {
    margin-left: auto;
    margin-right: 15px;
    display: block;
}
.action-open-login > span > i {
    color: red;
}
.action-open-login > span > i:hover, i:active { 
    font-size: 130%;
}