@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
      display: block;
  color: #a47cb0;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  margin: auto;
  width: 1024px;
}
a
{
    text-decoration: none;
}
.product-card {
    width: 15rem;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 10px auto;
    background: #fafafa;
    border-radius: 10%;
}
.product-card:hover {
    box-shadow: 0 2px 7px rgb(30, 25, 25);
}
.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    background: #f0f0f0;
    border-radius: 10%;
}

.product-tumb img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 11% 11% 0 0;
}

.product-details {
    padding: 10px;
}
.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #a47cb0;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #f36c27;
}
.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 13px;
    color: red;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #f36c27;
}
/* -----list choice see section scoll ------- */
.list-choice-see.section-scoll {
    width: 100%;
}
.list-choice-see.section-scoll {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
}
.list-choice-see.section-scoll .section-items {
  scroll-snap-align: star;
}