:root{
    --heading-font: "Quicksand", sans-serif;
    --body-font: "Roboto", sans-serif;
    --white: 0 0% 100%;
    --text:#A47CB0 ;
    
}
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
}
h4, h3{
    color: #95BB3D;
}
a{
    text-decoration: none;
    color: #A47CB0;
}
.money:hover, td:hover,
label:hover, a:hover{
    color:#F36C27;
    cursor: pointer;
}
.wrap{
    display: block;
    color: #A47CB0;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin: auto;
    width: 1024px;
}
button {
    background-color: #EB5999;
    cursor: pointer;
    color: #fff;
}
.money {font-weight: bold;
    color: red;
}
button:hover {
    background-color: #F36C27;
}

/*/................ I.header............ */

.wrap-header{
    position: fixed;
    z-index: 1;
}
.header{
    position: relative;
    width: 1024px;
    margin: 0 auto;
    height: 130px;
    background-color: #EBEBEB;
    padding-top: 5px;
    /* padding-left: -40px;
    padding-right: 40px; */
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 15px 1px rgb(0 0 0 / 25%);
    border-radius: 3px;
}
.header-container{
    position: absolute;
    width:1024px ;
    max-height: 130px;
}
 /* 1.header-top */
.header-top{
    position: relative;
    width: 1024px;
    height: 15px;
}
.header-top-left{
    position: relative;
    width: 50%;
    height: 15px;
    float: left;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.header-top-left span{
    width: fit-content;
    text-align: center;
    padding: 0 10px 0 10px;
}
.header-top-right{
    float: left;
    width: 50%;
    min-height: 15px;
    display: block;
    padding:0;
    margin: 0;
    position: relative;
    text-align: end;
}
.header-top-right span{
    width: fit-content;
    text-align: center;
    padding: 0 10px 0 10px;
}
/* 2.header-bot */
.header-bot{
    width: 100%;
    min-height: 65px;
    position: relative;
    padding-top: 5px;
}
.header-bot-left{
    position: relative;
    width: 10%;
    height: 65px;
    float: left;
}
.header-bot-logo-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}
.header-bot-logo img{
    height: 55px;
    width: 55px;
}
.header-bot-center{
    width: 70%;
    height: 65px;
    float: left;
    position: relative;
    display: flex;
    justify-content: center;

}
.header-bot-center-search{
    width: 100%;
    position: absolute;
    height:65px;
    align-items: center;
    display: flex;
}
.header-bot-center-search-container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-search {
    width: 500px;
    border: 3px solid #3d3d3d28;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #A47CB0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #3d3d3d28;
    /* background: #3d3d3d28; */
    background: #EB5999;
    text-align: end;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 25px;
}
.searchButton:hover{
    background:#F36C27;
}
.header-bot-right{
    width: 20%;
    float: left;
    height: 55px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-bot-right-container{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.headerbutton{
    border: 1px solid #3d3d3d28;
    background: #3d3d3d28;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    color: black;
    font-size: 25px;
    width: 40px;
    height: 40px; 
    text-align: center; 
    border-radius: 25px 25px 25px 25px; 
}
.headerbutton:hover{
    color:#F36C27;
}
.button-space{
    padding:0 5px 0 5px;
}

/* --------nav ------- */
#menu{
    background-color: #EBEBEB;
    color:#A47CB0 ;
    max-width: 1024px;
    height:50px;
    position: relative;
}
.menu-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
}
.menu-primary{
    list-style-type: none;
    width: 1024px;
    height: 50px;
    display: inline-flex;
    justify-content: end;
    /* align-items: center; vô cáu keh1o được dịp báo thừ */

    /*xoa dau tai thanh*/
}
#menu ul .menu-fix{ 
    height:50px;
    width:120px;
    line-height: 50px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}

#menu ul li:last-child{
    border-right: none;
}
#menu    .sub-menu{
    overflow: hidden;
    width: 100px;
    text-decoration: none;
}

#menu ul li:hover{
    color:#F36C27;
    cursor:pointer;
}
#menu ul li >.sub-menu{
    display: none;
    position: absolute;
    text-align: left;
}

#menu ul li:hover .sub-menu{/* yeu cau xuat hien the duoi*/
    display: block;
    background-color: #EBEBEB;
    position: absolute;
    width: fit-content;
    height: fit-content;
    float:left;
    margin: 0;
    padding: 0 5px 0 10px;
    text-align: left;
}
#menu ul li:last-child .sub-menu{
    border-right: none;
}
.fa-angle-right{
    TOP:50PX;
    padding-left: 20PX;
}

/* -----section-banner------ */
.section-banner{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding:160px 0 10px;
    display: flex;
    justify-content: center;
}
.section-banner-wrap{
    position: relative;
    width: 1024px;
    height:250px;
    display:flex ;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 1px rgb(0 0 0 / 25%);
    border-radius: 3px;
}
.section-banner-container{
    width: 1024px;
    height: 250px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}
.section-banner-img-container{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section-banner-img-container img{
    width: 1024px;
    height: 250px;
    object-fit: cover;
}
.section-banner-text {
    position: absolute;
    text-align: center;
    font-size: 40px;
    color: #fff;
}
.section-banner-text a{
    color: #fff;
}

/* .][[].------main body container wrapper all ------ */
.main-body.container-wrapper-all {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.main-body.container-wrapper-all .change-address-employ {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: #EBEBEB;
    position: relative;
    box-shadow: 0 2px 4px 1px rgb(0 0 0 / 25%);
    border-radius: 3px;
    padding: 5px;
    justify-content: space-between;
    align-items: baseline;
}
/* =-=-=-= =-=--=-row information-invoice list-items  =-=-= =-=-=- =-= */
.tbody-wrap.information-invoice {
    width: 100%;
    height: fit-content;
    position: relative;
    gap: 10px;
}

/* =-=-=-= =-=--=-row information-invoice list-items left  =-=-= =-=-=- =-= */

.tbody-wrap.information-invoice .col-8.list-items-wrap-store, .col-4.paypal-wrap-store {
    background-color: #fff;   
}
.tbody-wrap.information-invoice .col-8.list-items-wrap-store  
.wrap-list-items-shop {
    height: fit-content;
    background-color: #EBEBEB;
    box-shadow: 0 2px 4px 1px rgb(0 0 0 / 25%);
    margin: 10px;
}
.tbody-wrap.information-invoice .col-8.list-items-wrap-store 
.order-list-table {
    width: 100%;
    border-top: 1px solid black;
}
.tbody-wrap.information-invoice .col-8.list-items-wrap-store  
.order-list-table, td, th {
    padding: 10px;
}
.tbody-wrap.information-invoice .col-8.list-items-wrap-store 
.order-list-table tfoot {
    border-top: 1px solid black;
}
.tbody-wrap.information-invoice .col-8.list-items-wrap-store 
.order-list-table tr {
display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
    gap: 13px;
}

.tbody-wrap.information-invoice .col-8.list-items-wrap-store 
.order-list-table tr th div.img-item-table {
    width: 40px;
    height: 60px;
}
.tbody-wrap.information-invoice .col-8.list-items-wrap-store 
.order-list-table tr th div.img-item-table img {
        width: 40px;
    height: 60px;
}

/* =-=-=-= =-=--=-row information-invoice list-items right  =-=-= =-=-=- =-= */
.tbody-wrap.information-invoice .col-4.paypal-wrap-store div.wrapper-store {
    height: fit-content;
    background-color: #EBEBEB;
    box-shadow: 0 2px 4px 1px rgb(0 0 0 / 25%);
    margin: 15px;
}
.tbody-wrap.information-invoice .col-4.paypal-wrap-store .infor-order.wrapper-store 
.table-borderless tbody {
    border-bottom: 2px solid black;
}

/* ----footer----- */
.footer{
    position: relative;
    display: flex;
    justify-content: center;
    padding:10px 0 10px;
    width: 100%;
}
.footer-container{
    width: 1024px;
    height: fit-content;
    background-color: #EBEBEB;
    position: relative;
    box-shadow: 0 2px 4px 1px rgb(0 0 0 / 25%);
    border-radius: 3px;
}
.footer-column{
    width: 25%;
    float: left;
    text-align: start;
    position: relative  ;
}
.footer-column-wrap{
    position: relative;
    width: 100%;
    background-color: #EBEBEB; 
    height: fit-content;

}
.footer-logo-wrap{
    width: 100%;
    position: relative;
    display: flex;
}
.footer-logo{
    width: 25%;
    position: relative;
}
.footer-logo-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center ;
}
.footer-logo img{
    height: 55px;
    width: 55px;
}
.footer-list{
    width: 100%;
    position: relative;
}


/* ----sub-footer---- */
.sub-footer{
    position: relative;
    display: flex;
    justify-content: center;
    padding:10px 0 10px;
    width: 100%;
    margin-top: 20px;
}
.sub-footer-container{
    width: 1024px;
    height: fit-content;
    background-color: #EBEBEB;
    box-shadow: 0 2px 4px 1px rgb(0 0 0 / 25%);
    border-radius: 3px;
    margin-top:-20px;
}
.sub-footer-left-container{
    margin-top:-20px;
    margin-bottom: -30px;
}
.sub-footer-left-container h4{
    margin:-10px 0 -10px 0;
}
.sub-footer-left{
    width: 35%;
    position: relative;
    float: left;
}
.sub-footer-right{
    width: 65%;
    position: relative;
    float: left;
    justify-content:flex-end ;
    display: flex;
    align-items: end;
    height: fit-content;
    height: 70px;
}