:root {
  --heading-font: "Quicksand", sans-serif;
  --body-font: "Roboto", sans-serif;
  --white: 0 0% 100%;
  --text: #a47cb0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
h4,
h3 {
  font-weight: bold;
  color: #95bb3d;
}
a {
  text-decoration: none;
  color: #a47cb0;
}
.money:hover,
td:hover,
label:hover,
a:hover {
  color: #f36c27;
  cursor: pointer;
}
.wrap {
  display: block;
  color: #a47cb0;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  margin: auto;
  width: 1024px;
}
button {
  background-color: #eb5999;
  cursor: pointer;
  color: #fff;
}
.money {
  font-weight: bold;
  color: red;
}
button:hover {
  background-color: #f36c27;
}

/*/................ I.header............ */

.wrap-header {
  position: fixed;
  z-index: 9;
}
.header {
  position: relative;
  width: 1024px;
  margin: 0 auto;
  height: 130px;
  background-color: #ebebeb;
  padding-top: 5px;
  /* padding-left: -40px;
        padding-right: 40px; */
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 15px 1px rgb(0 0 0 / 25%);
  border-radius: 3px;
}
.header-container {
  position: absolute;
  width: 1024px;
  max-height: 130px;
}
/* 1.header-top */
.header-top {
  position: relative;
  width: 1024px;
  height: 15px;
}
.header-top-left {
  position: relative;
  width: 50%;
  height: 15px;
  float: left;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-top-left span {
  width: fit-content;
  text-align: center;
  padding: 0 10px 0 10px;
}
.header-top-right {
  float: left;
  width: 50%;
  min-height: 15px;
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  text-align: end;
}
.header-top-right span {
  width: fit-content;
  text-align: center;
  padding: 0 10px 0 10px;
}
/* 2.header-bot */
.header-bot {
  width: 100%;
  min-height: 65px;
  position: relative;
  padding-top: 5px;
}
.header-bot-left {
  position: relative;
  width: 10%;
  height: 65px;
  float: left;
}
.header-bot-logo-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}
.header-bot-logo img {
  height: 55px;
  width: 55px;
}
.header-bot-center {
  width: 70%;
  height: 65px;
  float: left;
  position: relative;
  display: flex;
  justify-content: center;
}
.header-bot-center-search {
  width: 100%;
  position: absolute;
  height: 65px;
  align-items: center;
  display: flex;
}
.header-bot-center-search-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-search {
  width: 500px;
  border: 3px solid #3d3d3d28;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #a47cb0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #3d3d3d28;
  /* background: #3d3d3d28; */
  background: #eb5999;
  text-align: end;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 25px;
}
.searchButton:hover {
  background: #f36c27;
}
.header-bot-right {
  width: 20%;
  float: left;
  height: 55px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bot-right-container {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerbutton {
  border: 1px solid #3d3d3d28;
  background: #3d3d3d28;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  color: black;
  font-size: 25px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
}
.headerbutton:hover {
  color: #f36c27;
}
.button-space {
  padding: 0 5px 0 5px;
}

/* --------nav ------- */
#menu {
  background-color: #ebebeb;
  color: #a47cb0;
  max-width: 1024px;
  height: 50px;
  position: relative;
}
.menu-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
}
.menu-primary {
  list-style-type: none;
  width: 1024px;
  height: 50px;
  display: inline-flex;
  justify-content: end;
  /* align-items: center; vô cáu keh1o được dịp báo thừ */

  /*xoa dau tai thanh*/
}
#menu ul .menu-fix {
  height: 50px;
  width: 120px;
  line-height: 50px;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
}

#menu ul li:last-child {
  border-right: none;
}
#menu .sub-menu {
  overflow: hidden;
  width: 100px;
  text-decoration: none;
}

#menu ul li:hover {
  color: #f36c27;
  cursor: pointer;
}
#menu ul li > .sub-menu {
  display: none;
  position: absolute;
  text-align: left;
}

#menu ul li:hover .sub-menu {
  /* yeu cau xuat hien the duoi*/
  display: block;
  background-color: #ebebeb;
  position: absolute;
  width: fit-content;
  height: fit-content;
  float: left;
  margin: 0;
  padding: 0 5px 0 10px;
  text-align: left;
}
#menu ul li:last-child .sub-menu {
  border-right: none;
}
.fa-angle-right {
  top: 50px;
  padding-left: 20px;
}

/* -----section-banner------ */
.section-banner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 160px 0 10px;
  display: flex;
  justify-content: center;
}
.section-banner-wrap {
  position: relative;
  width: 1024px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 1px rgb(0 0 0 / 25%);
  border-radius: 3px;
}
.section-banner-container {
  width: 1024px;
  height: 250px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}
.section-banner-img-container {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-banner-img-container img {
  width: 1024px;
  height: 250px;
  object-fit: cover;
}
.section-banner-text {
  position: absolute;
  text-align: center;
  font-size: 40px;
  color: #fff;
}
.section-banner-text a {
  color: #fff;
}

/* .][[].------main body container wrapper all ------ */
.main-body.container-wrapper-all {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
}
.main-body.container-wrapper-all .main-head.slideshow-indicator {
  display: block;
  width: 100%;
}
.main-head.slideshow-indicator .mySlides {
  display: none;
  width: 100%;
  object-fit: cover;
}
.main-head.slideshow-indicator .w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}
.main-head.slideshow-indicator .w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

/* ----------- wrap circle name product .............. */
.slide-show.container-wrapper-slide .name.container.product-circle {
  display: block;
  position: relative;
}
.slide-show.container-wrapper-slide
  .name.container.product-circle
  .row.content-slide-show {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.name.container.product-circle .col-3.name-product-circle {
  background-color: #bebebe;
  width: 180px;
  height: 200px;
  border-radius: 30%;
  text-align: center;
  box-shadow: 0 2px 4px 1px rgb(0 0 0 / 25%);
}
.name.container.product-circle .col-3.name-product-circle:hover {
  box-shadow: 0 5px 8px 2px rgb(0 0 0 / 30%);
}
.name.container.product-circle .col-3.name-product-circle .product-circle {
  padding: 3px;
}
.name.container.product-circle .product-circle .img-name-product {
  width: 150px;
  height: 150px;
  object-fit: contain;
  isolation: isolate;
  border-radius: 50%;
}

.name.container.product-circle .col-3.name-product-circle h4.name-product b {
  background-color: #fff;
}

/* ------ container flash sale product sale------------- */
.container-flash-sale.product-sale {
      background-color: #bebebe;
}
.container-flash-sale.product-sale .content-flash-sale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.container-flash-sale.product-sale .content-flash-sale button {
    background-color: #eb5999;
    color:#fff;
}
.container-flash-sale.product-sale .content-flash-sale button:hover {
    background-color: #f36c27;
}
.wrapper-flashsale {
  display: block;
  position: relative;
}
.wrapper-flashsale ul {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.wrapper-flashsale ul li {
  background-color: #fff;
}
.wrapper-flashsale ul li:hover {
  box-shadow: 0 9px 12px 15px rgb(0 0 0 / 70%);
}
.product-item-info {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: stretch;
}
.product-item-photo {
  display: block;
  position: relative;
}

.product-item-photo .product-image-container {
  width: 100%;
  display: block;
  border-radius: 20px;
}
.product-image-wrapper {
  display: block;
  height: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-items .product-image-photo {
  border-radius: 6px;
}
.product-item-photo .product-image-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-image-photo {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
img {
  max-width: 100%;
  height: 300px;
  border: 0;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.product-item-details .product-item-name {
  font-weight: 400;
  line-height: 21px;
  color: #000;
  text-transform: capitalize;
  overflow: hidden;
  display: block;
}
.product-item-name > a:link,
a:visited {
  text-decoration: none;
}
.product-item-name > a:hover,
a:active {
  color: #000;
  text-decoration: underline;
}
.icon_bag.product_into_right {
  background-color: white;
}
.icon_bag.product_into_right .label_images {
  position: absolute;
  z-index: 2;
  top: 2px;
  right: 0;
}
.bag.bag-product-infor {
  color: black;
  background-color: #eb5999;
  font-weight: 400;
}
.bag.bag-product-infor:hover,
.bag.bag-product-infor:active {
  color: white;
  background-color: #95bb3d;
}
.product-item-price-box {
  display: flex;
  justify-content: space-around;
}
.product-item-details .price-box .price {
  font-size: 16px;
  line-height: 19px;
}
.action.towishlist,
.products.list.items .action.towishlist {
  display: inline-block;
  text-decoration: none;
}
.product-item-price-box .action.towishlist {
  margin-left: auto;
  margin-right: 15px;
  display: block;
}
.action-open-login > span > i {
  color: red;
  font-size: 25px;
}
.action-open-login > span > i:hover,
i:active {
  font-size: 130%;
}
.wrap-cloth_shirt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product.details.product-item-details > .icon-star-five.icon_switch {
  display: block;
  max-width: 80%;
  height: auto;
}
#boot-icon.bi.bi-star-fill {
  font-size: 20px;
}
/* -------------container qc wrapper.......... */
.container.text-center.qc-wrapper img.qc-show {
    object-fit: cover;
    border: 1px solid transparent;
}

/* ...............wrapper show product container................. */
.wrapper-show-product.container {
    display: block;
    position: relative;
    border: 1px solid black;
}
.wrapper-show-product.container div.show-more {
    text-align: center;
}
.wrapper-show-product.container ul {
    list-style-type: none;
}
.wrapper-show-product.container button.btn.btn-show-more {
    background-color: #eb5999;
    color: #fff;
    width: 500px;

}

/* ----footer----- */
.footer {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px;
  width: 100%;
}
.footer-container {
  width: 1024px;
  height: fit-content;
  background-color: #ebebeb;
  position: relative;
  box-shadow: 0 2px 4px 1px rgb(0 0 0 / 25%);
  border-radius: 3px;
}
.footer-column {
  width: 25%;
  float: left;
  text-align: start;
  position: relative;
}
.footer-column-wrap {
  position: relative;
  width: 100%;
  background-color: #ebebeb;
  height: fit-content;
}
.footer-logo-wrap {
  width: 100%;
  position: relative;
  display: flex;
}
.footer-logo {
  width: 25%;
  position: relative;
}
.footer-logo-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.footer-logo img {
  height: 55px;
  width: 55px;
}
.footer-list {
  width: 100%;
  position: relative;
}

/* ----sub-footer---- */
.sub-footer {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px;
  width: 100%;
  margin-top: 20px;
}
.sub-footer-container {
  width: 1024px;
  height: fit-content;
  background-color: #ebebeb;
  box-shadow: 0 2px 4px 1px rgb(0 0 0 / 25%);
  border-radius: 3px;
  margin-top: -20px;
}
.sub-footer-left-container {
  margin-top: -20px;
  margin-bottom: -30px;
}
.sub-footer-left-container h4 {
  margin: -10px 0 -10px 0;
}
.sub-footer-left {
  width: 35%;
  position: relative;
  float: left;
}
.sub-footer-right {
  width: 65%;
  position: relative;
  float: left;
  justify-content: flex-end;
  display: flex;
  align-items: end;
  height: fit-content;
  height: 70px;
}
