.wrap.wrap-01 li {
    padding-left: 40px;
    text-align: center;
    color: blue; 
    font-size: 60px; 
    font-style: bold;
}
.wrap.wrap ul li ul li {
    text-align: left;
    display: block;
    background-color: aqua;  
    font-size: 60px; 
    color: purple; 
    font-style:normal;
}

.wrap.wrap-02 ~ ul{
    padding-left: 40px;
    color:yellow; 
    background-color: cornflowerblue;
    font-size: 50px; 
    font-style: oblique;
}

p + ul { 
    text-align: center;
    padding-left: 40px; 
    color: white;
    background-color: blueviolet;
    font-size: 50px; 
    font-style: oblique;
}

div + p {
   text-align:center;
    color:red; 
    font-size: 50px
}