.changepw {
    background-color: #95BB3D ;
    color: #EBEBEB;
    text-align: center;
    font-size: 2rem;
}
.linksbackground{
    text-decoration: none;
    color:#A47CB0;
}

div.listleft :hover{
    color:#ffffff;
    background-color: #F36C27;
}
.activebutton{
    text-decoration: none;
    color:#ffffff;
    background-color: #F36C27;
}
.wrap-account5{
    margin-left: 0;
    box-sizing: border-box;
    border: 1px solid #c4b9b9;
    text-align: center;
    padding:0;
    text-decoration: none;
}
div.container{
    text-decoration: none;
    color: #95BB3D;
    padding-top: 20px;
    
}
div.col-sm-8{
    box-sizing: border-box;
    background-color: #EBEBEB;
    box-sizing: border-box;
    border:1px solid #50333333;   
}
label.form-check-label{
    color: #A47CB0;
}
div.mb-3{
    text-align: left;
    box-sizing: border-box;
    border:1px solid #50333333;
    margin-left: 0;
    margin-right: 0;

}
div.mb-2{
    text-align: left;
    box-sizing: border-box;
    border:1px solid #50333333;
    text-align: right;
}
.form-label1 .form-control1{
    display: flex;
    flex-direction: row;
}
div.wrap-gotocart{
    text-align: right;
    box-sizing: border-box;
    border: 1px solid #c4b9b9;
    margin:0;
    padding-left:0px;
    padding-right: 0px;
}
.gotocart{
    text-decoration: none;
    color:#95BB3D;
}
div.wrap-account5{
    text-align: left;
    box-sizing: border-box;
    border: 1px solid #c4b9b9;
    margin:0;
    padding-left:0px;
    padding-right: 0px;
    margin-bottom: 40px;
}
div.yourmail{
    box-sizing: border-box;
    border: 1px solid #c4b9b9;
    width: 142px;
}
.changelink{
    color:#A47CB0
}

div.wrap-buttonsave{
    text-align: center;
    margin-top: 4rem;
}

.wrap-buttonsave :hover{
    color:#ffffff;
    background-color: #F36C27;
}
.btn{
    background-color:#EB5999;
    color:#ffffff;
}


