.c1{
    color: goldenrod;
}
.c2{
    Color:purple; 
}
.c3{
    background-color:yellow;
}
.c4{
    color: red; text-align: center;
}
.c5{
    color: DodgerBlue; font-size: 150%; text-align: center;
}
.c6{
    color:brown; font-size: 180%; text-align: center;
}