div.menu{
    padding-left: 0;
    text-align: right;
}
.warm > li {
    font-size: 20px;
    color: rgb(221, 64, 28);
    padding: 10px 10px;
    list-style: none;
    text-align: right;
    display: inline-block;
}
.warm > li:hover > ol {
    display: block;
}
.warm > li > ol {
    display: none;
    color: wheat;
    list-style-type: lower-roman;
    background-color: rgb(144, 144, 227);
}
.warm > li > a:hover {
    border-bottom: 2px dashed red;
    background-color: none;
    display: inline-block;
    position: relative;
    padding: 5px 5px;
}
.warm > li > a > ol {
    border: 2px dashed blue;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100px;
}
ul.warm li ol li > a:hover {
    background-color: bisque;
    border: 2px solid coral;
}
ul.warm li ol li > a {
    color: yellowgreen;
    font-size: 18px;
    font-weight: 100;
    font-style: oblique;
    position: sticky;
}
div.menu {
    background-color: aliceblue;
    border-bottom: 1px dashed aliceblue;
    width: 100%;
    position: fixed;
    bottom: top;
    left: 0;
    }