.warm > li {
    font-size: 20px;
    color: rgb(221, 64, 28);
    padding: 8px 10px;
    list-style: none;
    padding-left: -10cm;
    text-align: right;
    display: inline-block;
}
.menu .warm {
    text-align: right;
    padding-left: -10cm;
}
.warm {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: none;
    top: 0;
}
.warm > li:hover > ol {
    display: block;
}
.warm > li > ol {
    display: none;
    color: wheat;
    list-style-type: lower-roman;
    background-color: rgb(144, 144, 227);
}
.warm > li > a:hover {
    border-bottom: 2px dashed red;
    background-color: rgb(102, 102, 223);
    display: inline-block;
}
.warm > li > a {
    padding: 10px 12px;
    text-decoration: none;
    background-color: none;
    text-align: center;
    position: relative;
    display: block;
}
.warm > li > ol {
    border-bottom: 2px dashed coral;
    position: absolute;
    position: fixed;
}
ul.warm li ol li > a:hover {
    background-color: white;
    border-bottom: 2px solid coral;
}
ul.warm li ol li > a {
    color: bisque;
    position: absolute;
    position: sticky;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    display: inline-block;
}
ul.warm li ol > li {
    color: yellowgreen;
    font-size: 18px;
    font-style: oblique;
}
div.menu {
    background-color: aliceblue;
    border-bottom: 1px dashed aliceblue;
    width: 100%;
    margin: 0;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    }
