
body{background-color: rgb(238, 217, 217);font-size: 20px;}
h1{font-size: 30px;color: rgb(25, 39, 39);
    border-width: 3px; border-style: solid; border-color: rgba(223, 8, 223, 0.685)
    ;text-align: center;}
div{size: 22px;
    color: rgb(87, 87, 59);
    padding: 5px;
    }
div > ol {color: blueviolet ;font-size: 18px;}
div > ul {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(55, 129, 194) ;text-align: center;}
div,h2+h3 {margin-left: 10px; padding: 10px
    ; color: blueviolet;
    border-width: 3.5px;border-style: double;border-color: yellowgreen;
background-color: black;}
div.p > strong {font-style: oblique ;color: aqua;}
.helio2, h2 ol > li ~ ul {background-color: aliceblue;}
.pop p, strong {color: rgb(180, 47, 47);}
div p {font-size: 22px;text-align: start;}
