* {
    margin: 0;
    padding: 0;
}
html {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}
body{
    align-items: center;
    max-width: 1400px;
}
/* ................ */
header {
    width: 100%;
}
/* ---logo--- */
.banner .logo img {
    width: 137px;
}
/* ---logo--- */

/*---- icon--- */
.icon {
    background: none;
}
.icon i {
    margin-left: 12px;
    margin-right: 12px;
}
.icon button {
    border: 1px solid white;
    background-color: white;
}
.icon p {
    text-align: center;
    font-size: 12px;
    margin: 0;
}

/*---- icon--- */

/* --menu begin-- */

/* -------------------- */

.main-up {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-up .icon {
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner {
    display: inline-block;
    width: 100%;
    padding-bottom: 14px;
}
.banner-header {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 23px;
}
.main-down {
    display: flex;
    align-items: stretch;
    position: fixed;
    gap: 65px;
    background-color: white;
    z-index: 9;
}
.main-down-opt {
    display: block;
}

/* ---------------------- */

.menu ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}
.menu li {
  float: left;
}
.menu li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
.menu li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(224, 198, 198);
  box-shadow: 8px 16px 12px 9px rgba(215, 96, 96, 0.2);
  border-radius: 13px;
}
.menu li.dropdown {
  display: inline-block;
  position: relative;
}
.menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 8px 16px 12px 9px rgba(0,0,0,0.2); 
  z-index: 99999;
  border-radius: 13px;
}
.menu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.menu .dropdown-content a:hover {
    background-color:#ddd;
}
.menu .dropdown:hover .dropdown-content {
    display: block;
}
/* ------------ */
/* --menu-end-- */
div.body2 {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 10px;
}
.body2 .background {
    background-image: url(../picture/reception\ hall.jpg);
    width: 100%;
    position: relative; 
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 600px;
    z-index: -999999;
}
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.background .h1a {
    color: white;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-rendering: geometricPrecision;
}
/* ------------------------------------- */
.slide-right-active {
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.slide-right {
    display: flex;
    position: fixed;
    flex-direction: column;
}
.icon-slide-right {
    background-color:none;
    border: 3px solid rgb(67, 59, 59);    
    height: 35px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 35px;
    font-size: 20px;
    text-align: center;
}
.icon-slide-right i {
    text-align: center;
    color: #8e8e8e;
}
/* ------------------------------------- */

.customer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.customer .pic1 {
    margin-right: 0;
}

.customer .boxs {
    border-bottom: 2px solid grey ;
}
.customer .boxs:last-child {
    border: none;
}
.customer .cus-boxs-pic img {
    padding: 5px 0;
}
.customer img {
    object-fit: cover;
}
.customer  .pic1  img {
    width: 350px;
    height: 445px;
}
.customer  .cus-boxs  img {
    width: 318px;
    height: 217px;
}
.customer .cus-boxs {
    display: flex;
    box-sizing: content-box;
    gap: 10px;
}
/* -------------------------- */
.container-block-over {
    display: flex;
    width: 100%;
    background-color: #ddd;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}
.container-block-over img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container-block-over h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-decoration-line: underline;
    margin-bottom: 70px;
}
 /* ------------------------- */
.container-text {
    text-align: center;
    font-size: 24px;
}
.container-slide-out {
    width: 100%;
}
.container-slide{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.container-slide-out img {
    width: 230px;
    height: 200px;
    object-fit: cover;
    padding: 0;
    
}
.container-slide-out img:hover {
    box-shadow: 0 2.8px 2.2px rgba(200, 69, 200, 0.559),
    0 6.7px 5.3px rgba(200, 69, 200, 0.559),
    0 12.5px 10px rgba(200, 69, 200, 0.559),
    0 22.3px 17.9px rgba(200, 69, 200, 0.559),
    0 41.8px 33.4px rgba(200, 69, 200, 0.559),
    0 100px 80px rgba(200, 69, 200, 0.559);
}
.container-slide-btn button {
    background-color: white;
    border: white;
}
.container-slide-btn i {
    font-size: 25px;
}
.container-slide-out .container-text h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-decoration-line: underline; 
}
.container-slide-text-top h4 {
    background-color: red;
    z-index: 1;
    position: absolute;
    margin-left: 10px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}
.container-slide .divtext h5 {
    font-weight: bolder;
    margin: 0;
}
.container-silde-item {
  display: flex;  
}
.container-line {
    border: 0.1px outset rgb(151, 149, 149)
}
.container-silde-item p {
    font-size: 13px;
    padding: 5.5px;
    color: rgb(151, 149, 149);
    font-style: oblique;
}
/* ---------------------------------------- */

.information h6 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.information h6::after {
    
    width: 100px;
    height: 2px;
    background-color: gray;
    bottom: 0;
    left: 0;
    right: 0;
}
.infor-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.infor-container p, a {
    margin: 0;
}
.infor-container a {
    font-size: 12px;
    font-style: italic;
}
.inf-img-righ {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    width: 30%;
    gap: 30px;
}
.inf-img-left {
    width: 70%;
}
.infor-container .inf-img-inside img {
    width: 100%;
    object-fit: cover;
}
.infor-container .inf-img img {
    width: 100%;
    object-fit: cover;
}

.infor-container .inf-text-title {
    text-transform: capitalize;
}
.infor-container .inf-text-btn {
    display: inline-block;
    text-decoration: none;
    color: #666161;
    font-style: italic;
}

/* ----------------------------------------------- */

.icon-end {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10em;
}
.icon-end i {
    font-size: 100px;
    text-align: center;
}
.icon-end .icon-material-icons {
   text-align: center;
}
.icon-end .icon-end-div2 {
    margin: 20px 0;
}
 
/* ----------------- */

.contactus-box-sizing {
    box-sizing:border-box;
    width: 100%;
    height: auto;
}
.contactus {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #e5dcdcd1;
    padding-bottom: 50px;
    text-align: justify;
    gap: 30px;
}
.contactus .colum-row {
    content: "";
    width: 25%; 
    gap: 1px
    ;
}
.contactus .contactus-text {
    text-transform: capitalize;
    font-size:large;
    font-weight:bold;
}
.contactus ul {
    list-style: none;
    text-decoration: none;
    
}
.contactus li a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: small;
    float: left;
}
.contactus .superstone-us {
    width:fit-content;
    text-align: center;
 }
 .contactus .infor-us-content {
    width: fit-content;
    text-align: center;
 }
 .contactus .customer-end {
    width:fit-content;
    text-align: center;
 }
.contactus .link-company {
    width: 450px;
}


/* -------------------------- */

.end-footer {
    background-color: #424040;
    color: white;
    text-align: center;
}
.end-footer {
    display: flex;
    justify-content: space-evenly;
}
.end-footer .ic-end-footer {
    background-color:none;
    border:3px solid rgb(245, 245, 245);    
    height:50px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:50px;
}
.icon-end-footer {
    font-size: 30px;
    gap: 20px;
    display: flex;
    align-items: center;
}
.end-footer .text-end-footer {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
.end-footer .text-end-footer a {
    color: #947777;
}

